.error {
    color: #a94442;
    display: block;
    margin-top: 5px;
}

.reg-container {
    border-radius: 5px;
    border: 1px solid #d8dee2;
    padding: 15px 20px;
    text-align: center;
}

.my-group {
    margin-top: 15px;
}
.div-safe-show{
    width: 300px;
    hight:200px;
    background: #afd9ee;
    border: solid 1px #999999;
    display: none;
}