<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              编程语言
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul class="nav nav-stacked">
                <li><a href="#">C++</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">C++</a></li>
            </ul>
          </div>
        </div>
    </div>

</div>