{% load staticfiles %}
{% include 'common/header_began.html' %}
{% include 'common/header_end.html' %}
{% include 'common/navbar.html' %}

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>{{ project_info.title }}</h2>
            </div>
            <div class="col-lg-6">
               <h3></h3>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

    <div class="container">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                      <h1>{{ project_info.title }}</h1>
                    </div>
                    <p>
                        浏览数:{{ project_info.read_num }} 难度:{{ project_info.difficulty }}
                        代码形式:{{ project_info.code_pattern }}
                        托管方式:{{ project_info.repository }}
                    </p>
                    <p>{{ project_info.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    侧栏
                </div>
            </div>
        </div>
    </div>

{% include 'common/footer.html' %}