{% load staticfiles %}
{% load markdown_deux_tags %}
{% load project_filter %}
{% include 'common/header_began.html' %}
{% include 'common/header_end.html' %}
{% include 'common/navbar.html' %}

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>{{ project_info.title }}</h2>
            </div>
            <div class="col-lg-12">
                <h3>
                    开发难度:{{ project_info.difficulty | difficulty }}
                    代码形式:{{ project_info.code_pattern | code_pattern }}
                    托管方式:{{ project_info.repository | repository}}
                </h3>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<div class="container">
    <div class="col-md-9">
        <p>{{ project_info.description | markdown }}</p>
    </div>
    <div class="col-md-3">
        {#            <div class="panel panel-default">#}
        {#                <div class="panel-body">#}
        {#                    侧栏#}
        {#                </div>#}
        {#            </div>#}
    </div>

</div>

{% include 'common/footer.html' %}