{% load staticfiles %}
{% include 'common/header_began.html' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% include 'common/header_end.html' %}
{% include 'common/navbar.html' %}

    <div class="container">

      <div class="login">
        <h2 class="login-heading">注册账号</h2>

        <label for="input_username" class="sr-only">Username</label>
        <input id="input_username" type="text" class="form-control" placeholder="Username" required autofocus>

        <label for="input_email" class="sr-only">Email address</label>
        <input id="input_email" type="email" class="form-control" placeholder="Email address" required>

        <label for="input_password" class="sr-only">Password</label>
        <input id="input_password" type="password" class="form-control" placeholder="Password" required>

        <input class="btn btn-lg btn-primary btn-block" type="button" value="立即注册" onclick="register();">
        <h5>已经有账号了?<a href="/usercenter/login">立即登录</a></h5>
      </div>

    </div> <!-- /container -->

    <script src="{% static 'js/register.js' %}"></script>
{% include 'common/footer.html' %}
