{% load staticfiles %}
{% include 'common/header_began.html' %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% include 'common/header_end.html' %}
{% include 'common/navbar.html' %}

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>注册</h2>
            </div>
            <div class="col-lg-6">
               <h3></h3>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<div class="container" style="margin-top:50px">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>注册 </strong></h3>
            </div>

            <div class="panel-body" style="padding-left:30px;padding-right:30px;">
                <form id="regForm" role="form">
                    <div id="div-fail-alert">
                    </div>
                    <div class="my-group">
                        <input id="input-username" type="text" class="form-control" name="username" autofocus
                               placeholder="用户名">
                    </div>
                    <div class="my-group">
                        <input id="input-email" type="text" class="form-control" name="email" placeholder="邮箱">
                    </div>
                    <div class="my-group" style="margin: 15px 0;">
                        <input id="input-password" type="password" class="form-control" name="password"
                               placeholder="设置密码">
                    </div>

                    <button id="btnRegister" type="button" class="btn btn-lg btn-primary btn-block">
                        注册
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-3">
        <div class="reg-container ">已有账户？<a href="/usercenter/login">点此登录</a></div>
    </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% include 'common/footer.html' %}
