<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% block header %}
      {% include 'common/header.html' %}
    {% endblock %}
  </head>
  <body>

    {% block navbar %}
        {% include 'common/navbar.html' %}
    {% endblock %}


    <div class="container">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>分类功能</h1>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>仓库列表</h1>
                </div>
            </div>
        </div>
    </div>

    {% load staticfiles %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>