{% load staticfiles %}
{% include 'common/header_began.html' %}
{% include 'common/header_end.html' %}
{% include 'common/navbar.html' %}

<!-- Header -->
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Open Obj</h1>
                    <h3>这里有一些开源项目期待你的加入</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        {#                            <li>#}
                        {#                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>#}
                        {#                            </li>#}
                        <li>
                            <a href="https://github.com/openobj/openobj-web" class="btn btn-default btn-lg"><i
                                    class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        {#                            <li>#}
                        {#                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>#}
                        {#                            </li>#}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">发扬开源精神,集中开源力量<br>贡献开源项目</h2>
                <p class="lead">2015年是一个开源大年,越来越多的开发者开始积极的主导或者参与到开源的项目中，
                    开源项目的数量也在不断的增加，很多优秀开源项目被应用于各种领域。广大程序员们,让我一起参与到开源项目中去吧。</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="static/image/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">参与开源项目可以获得什么?</h2>
                <p class="lead">你可以获得很多东西，开源项目的经验，个人能力的提升，一群热爱开源的伙伴，项目被使用的成就感，以及为开源社区做出贡献等等。
                    来吧，程序员们，加入我们一起向前冲冲冲!</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="static/image/dog.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">有一个好的开源项目的想法，想找人一起做</h2>
                <p class="lead">找不到好用的轮子怎么办，来这里找队友一起造一个吧。找不到自己需要的插件怎么办，来这里找队友一起做吧。
                    想做一个大一点的项目需要人怎么办，来这里找队友一起做吧。如果你有不错的创意和想法，就赶快来这里召集队友一起做吧。</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="static/image/phones.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Connect to Open Obj:</h2>
            </div>
            <div class="col-lg-12">
                <ul class="list-inline banner-social-buttons">
{#                    <li>#}
{#                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i#}
{#                                class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>#}
{#                    </li>#}
                    <li>
                        <a href="https://github.com/openobj/openobj-web" class="btn btn-default btn-lg"><i
                                class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
{#                    <li>#}
{#                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span#}
{#                                class="network-name">Linkedin</span></a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
{% include 'common/footer.html' %}